/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 768px) and (max-width: 1280px) {
    #containerNav div:last-child {
        width: 800px;
        margin: 0;
    }

    .border {
        border-bottom: none !important;
    }

    #miseEnBouche::before, #miseEnBouche::after {
        content: '';
        width: 100%;
        order: 1;
    }

    #miseEnBouche div:nth-child(2) {
        border-right: none;
    }

    #miseEnBouche div:nth-child(n + 3) {
        order: 1;
        margin-top: 20px;
    }

    #miseEnBouche div {
        padding-left: 30px;
        padding-right: 30px;
    }

    #printerCv {
        height: 80px;
    }

    footer {
        min-height: 50px;
    }

    footer p {
        font-size: 2rem;
        color: white;
        text-align: center;
    }
}

@media all and (min-width: 382px) and (max-width: 767px) {
    #containerNav div:last-child {
        width: 500px;
    }

    #coord-1 p {
        justify-content: flex-start !important;
    }

    .item {
        flex: 1 auto !important;
    }

    .border {
        border-bottom: solid 1px;
        border-right: none !important;
    }

    #miseEnBouche {
        margin-bottom: 0px;
    }

    #miseEnBouche div p {
        padding-bottom: 30px !important;
    }

    #printerCv {
        height: 50px;
    }

    footer {
        min-height: 30px;
    }

    footer p {
        font-size: 1.3rem;
        color: white;
        text-align: center;
    }
}

@media all and (min-width: 300px) and (max-width: 382px) {
    #containerNav div:last-child {
        width: 350px;
    }

    #coord-1 p {
        justify-content: flex-start !important;
    }

    .item {
        flex: 1 auto !important;
    }

    .border {
        border-bottom: solid 1px;
        border-right: none !important;
    }

    #miseEnBouche {
        margin-bottom: 0px;
    }

    #miseEnBouche div p {
        padding-bottom: 30px !important;
    }

    #printerCv {
        height: 50px;
    }

    footer {
        min-height: 25px;
    }

    footer p {
        font-size: 1.2rem;
        color: white;
        text-align: center;
    }

}