/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 768px) and (max-width: 1280px) {
    body {
        background-size: auto;
    }

    footer {
        min-height: 50px;
    }

    footer p {
        font-size: 2rem;
        color: white;
        text-align: center;
    }
}

@media all and (min-width: 382px) and (max-width: 768px) {
    body {
        background-size: auto;
    }

    footer {
        min-height: 30px;
    }

    footer p {
        font-size: 1.3rem;
        color: white;
        text-align: center;
    }
}

@media all and (min-width: 300px) and (max-width: 382px) {
    body {
        background-image: none;
        background-color: rgb(100, 100, 100);
    }

    #container {
        justify-content: flex-start;
    }

    footer {
        min-height: 25px;
    }

    footer p {
        font-size: 1.2rem;
        color: white;
        text-align: center;
    }

}