@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  overflow-y: hidden;
  font-size: 2.6rem;
  font-family: 'Fjalla One', sans-serif;
  background: url(../img/fond.jpg) no-repeat center center fixed; 
  background-size: cover;
}

header {
  min-height: 100vh;
  color: black;
}

p {
  font-size: 1.8rem;
  color: black;
}

ul {
  font-size: 1.8rem;
  color: black;
}

img {
  margin-top: 5px;
  margin-left: 10px;
  width: 100px;
  height: 100px;
}

/** Css Animation **/

#titreContainer {
  transform: translate(-50%, -50%);
  top: 20%;
  left: 30%;
  display: block;
  position: absolute;
  max-width: 550px;
}

#buttonCv {
  float: left;
  position: relative;
  bottom: -420px;
  left: 63%;
  cursor: pointer;
  padding: 10px;
  background: black;
  border-radius: 15px;
  outline: none;
}

#buttonCv a {
  text-decoration: none;
  color: white;
  font-size: 3.5rem;
}

#buttonCv:hover {
  background-color: white;
}

#buttonCv:hover a {
  color: black;
}

#buttonCv:active {
  transform: translateY(10px);
}
  
h1 {
    color: #fff;
    font-size: 70px;
    margin: 0;
    line-height: 90px;
    letter-spacing: 2px;
}
  
.title {
    transform: translateX(-50%) rotate(-10deg);
    display: block;
    float: left;
    left: 50%;
    position: relative;
} 
  
.title span {
      transform: skew(-10deg);
      display: block;
      float: left;
      text-shadow: black 1px 1px, black 2px 2px, black 3px 3px, black 4px 4px, black 5px 5px, black 6px 6px;
      min-width: 10px;
      min-height: 10px;
      position: relative;
}
  
.title:nth-child(1) {
      color: white;
}

.title:nth-child(2) {
      color: white;
}
    
.title:nth-child(3) {
      color: white;
}
