/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 768px) and (max-width: 1280px) {
    img {
        width: 50px;
        height: 50px;;
    }

    #mainNav {
        visibility: visible;
    }

    #titreContainer{
        top: 50%;
        left: 50%;
    }

    #titre h1 {
        font-size: 2.4rem;
        color: white;
    }

    footer p {
        font-size: 2rem;
        color: white;
        text-align: center;
    }

}

@media all and (min-width: 382px) and (max-width: 768px) {
    #mainNav {
        visibility: visible;
    }

    #titreContainer{
        top: 50%;
        left: 50%;
    }
    
    img {
        width: 50px;
        height: 50px;;
    }

    h1 {
        width: 300px;
        font-size: 35px;
    }

    footer p {
        font-size: 1.3rem;
        color: white;
        text-align: center;
    }
}

@media all and (min-width: 300px) and (max-width: 382px) {
    #mainNav {
        visibility: visible;
    }

    #titreContainer{
        top: 50%;
        left: 50%;
    }

	img {
        width: 50px;
        height: 50px;;
    }

    h1 {
        width: 200px;
        font-size: 20px;
    }

    footer p {
        font-size: 1.2rem;
        color: white;
        text-align: center;
    }

}