/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */

@media all and (min-width: 768px) and (max-width: 1280px) {
    img {
        width: 80px;
        height: 80px;
    }

    body {
        background-image: url(../img/fond_tablette.jpg);
    }

    #container {
        flex-direction: column;
    }

    #titreContainer {
        display: flex;
        justify-content: center;
        padding: 0 !important;
    }

    footer p {
        font-size: 2rem;
        color: white;
        text-align: center;
    }

}

@media all and (min-width: 382px) and (max-width: 768px) {
    #mainNav {
        visibility: visible;
    }

    body {
        background-image: url(../img/fond_mobile.jpg);
    }
    
    img {
        width: 50px;
        height: 50px;;
    }

    #container {
        flex-direction: column;
    }

    #titreContainer {
        display: flex;
        justify-content: center;
        padding: 0 !important;
      }

    #buttonCv {
        visibility: hidden;
    }

    footer p {
        font-size: 1.3rem;
        color: white;
        text-align: center;
    }
}

@media all and (min-width: 300px) and (max-width: 382px) {
    #mainNav {
        visibility: visible;
    }

    body {
        background-image: url(../img/fond_mobile.jpg);
    }

	img {
        width: 50px;
        height: 50px;;
    }

    #container {
        flex-direction: column;
    }

    #titreContainer {
        display: flex;
        justify-content: center;
        padding: 0 !important;
      }

    #buttonCv {
        visibility: hidden;
    }

    h1 {
        max-width: 300px;
        font-size: 30px;
        line-height: 53px;
    }

    footer p {
        font-size: 1.2rem;
        color: white;
        text-align: center;
    }

}