<section id="accueil" ng-controller="accueilCtrl" class="flex-container">
    <div class="transparence">
        <div id="titreAccueil">
            <h2>
                {{ nomPrenom }}
            </h2>
            <h3>{{ metier }}</h3>
        </div>
        <div class="flex-container">
            <div id="coord-1" class="itemA">
                <p class="flex-container">
                    <a href="mailto:chloegardenat@live.fr" class="email"></a>
                </p>
                <p class="flex-container">
                    <a href="tel:0623378546"><img src="component/img/icon_phone.png" alt="icône téléphone" /></a>
                    <span></span>
                </p>
            </div>
            <div id="photo_profil" class="itemA flex-container">
                <img src="component/img/photo_profil_cg.jpg" alt="photo de profil Chloé GARDENAT" />
            </div>
            <div class="itemA">
                <p class="flex-container">
                    <a href="https://www.linkedin.com/in/chlo%C3%A9-gardenat-16a3a6159/" target="_blank"><img src="component/img/icon_linkedin.png" alt="icône linkedin" /></a>
                </p>
                <p class="flex-container">
                    <a href="https://github.com/TeBounty" target="_blank"><img src="component/img/git_icon.png" alt="icône git" /></a>
                </p>
            </div>
        </div>

        <div id="miseEnBouche" class="flex-container">
            <div class="itemA border">
                <h3>Rechercher</h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="itemA border">
                <h3>Aimer</h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="itemA border">
                <h3>Savoir</h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="itemA">
                <h3>Etre</h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>

        <div id="printerCv" class="flex-container">
            <a href="doc_site/chloe-gardenat-cv.pdf" target="_blank"><img src="component/img/printer.png"/></a>
        </div>
    </div>
</section>