<section id="accueil" ng-controller="accueilCtrl" class="flex-container">
    <div class="transparence">

        <div id="containerAccueil" class="flex-container">
            <div id="contentGeneral" class="flex-container">
                <div id="titreAccueil">
                    <h2>
                        {{ nomPrenom }}
                    </h2>
                    <h3>{{ metier }}</h3>
                </div>
                <div id="photo_profil" class="flex-container">
                    <img src="component/img/photo_profil_cg.jpg" alt="photo de profil Chloé GARDENAT" />
                </div>
                <div id="coord-1" class="flex-container itemA">
                    <!-- <p class="flex-container">
                        <a href="https://www.linkedin.com/in/chlo%C3%A9-gardenat-16a3a6159/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </p>
                    <p class="flex-container">
                        <a href="https://github.com/TeBounty" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </p>
                    <p class="flex-container">
                        <a href="mailto:chloegardenat@live.fr" class="email"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    </p>
                    <p class="flex-container">
                        <a href="tel:0623378546"><i class="fa fa-phone-square" aria-hidden="true"></i></a>
                        <span></span>
                    </p> -->
                    <div class="follow">
                        <div class="icon first"><a href="mailto:chloegardenat@live.fr" class="email"><i class="fa fa-envelope" aria-hidden="true"></i></a></div>
                        <div class="icon"><a href="tel:0623378546"><i class="fa fa-phone-square" aria-hidden="true"></i></a></div>
                        <div class="icon"><a href="https://github.com/TeBounty" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></div>
                        <div class="icon last"><a href="https://www.linkedin.com/in/chlo%C3%A9-gardenat-16a3a6159/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></div>
                        <div class="label">Contact</div>
                    </div>
                </div>
            </div>

            <div class="separator"></div>

            <div id="miseEnBouche" class="flex-container">
                <div>
                    <div class="itemA">
                        <a href="#!/experiences">
                            <h3>Ma recherche</h3>
                        </a>
                        <p id="contentRecherche">{{ contentRechercher }}</p>
                    </div>
                    <div class="itemA">
                        <a href="#!/loisirs">
                            <h3>J'aime</h3>
                        </a>
                        <p>{{ contentAimer }}</p>
                    </div>
                </div>

                <div>
                    <div class="itemA">
                        <a href="#!/competences">
                            <h3>Mes connaissances</h3>
                        </a>
                        <p>{{ contentSavoir }}</p>
                    </div>
                    <div class="itemA">
                        <a href="#!/profil">
                            <h3>Je suis</h3>
                        </a>
                        <p>{{ contentEtre }}</p>
                    </div>
                </div>

            </div>

            <div id="printerCv" class="flex-container">
                <a href="doc_site/CV-chloe-gardenat.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

</section>