<section ng-controller="competencesCtrl">
    <div class="transparence">
        <!-- <div>
            <h3>Langages de programmation</h3>
			<div>
				<p><img src="component/img/java.png" alt=""/> Java</p>
				<div>
					<div role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
						<span>30% Complete</span>
					</div>
				</div>
			</div>
			
			<div>
				<p><img src="component/img/c.png" alt=""/> C#</p>
				<div>
					<div role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
						<span>20% Complete</span>
					</div>
				</div>
			</div>
			
			<div>
				<p><img src="component/img/php.png" alt=""/> PHP</p>
				<div>
					<div role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
						<span>35% Complete</span>
					</div>
				</div>
			</div>
			
			
			<div>
				<p><img src="component/img/javascript.png" alt=""/> Javascript</p>
				<div>
					<div role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
						<span>30% Complete</span>
					</div>
				</div>
			</div>
			
        </div>

        <div id="frameworks">
            <h3>Frameworks</h3>
            <div>
                <ul>
                    <li><img src="component/img/angularjs.png" alt=""/>AngularJS</li>
                </ul>
            </div>
        </div>

        <div id="languesEtrangeres">
            <h3>Langues étrangères</h3>
            <div>
                <ul>
                    <li><img class ="icone" src="component/img/anglais.png" alt=""/>Anglais</li>
                </ul>
            </div>
        </div> -->
    </div>
</section>

<!-- Animation -->
<script src="component/js/animate.js"></script>
