<section ng-controller="experiencesCtrl">
    <div class="transparence">
        <!-- <div id="experiences">
			<div>
                <h2>Stage développeur</h2>
                <h4>ARCESI - Février à Mai 2019</h4>
                <p>Conception d'une nouvelle fonctionnalité dans le portail interne</br>
				Développement du front-end (html, css, javascript)</br>
				Développement du back-end (C#, bases de données, procédure stockée)</p>

            </div>
			
            <div>
                <h2>Stage de programmation d'un AAGV</h2>
                <h4>Continental Toulouse - Avril 2018</h4>
                <p>Automatisation de la visite de l'usine Continental par un AAG</p>
            </div>

            <div>
                <h2>Stage de développement</h2>
                <h4>Association Sol-Violette Toulouse - Mars 2018</h4>
                <p>Etude d'un code source d'une application mobile de géolocalisation</p>
            </div>

            <div>
                <h2>Stage de développement</h2>
                <h4>DSI Blagnac - Mars 2017</h4>
                <p>Modélisation d'une base de données</p>
            </div>

            <div>
                <h2>Agent d'accueil - CDD</h2>
                <h4>Piscine Municipale de Martres-Tolosane (31) - Août 2016</h4>
            </div>

            <div>
                <h2>Stage de coiffure</h2>
                <h4>Victorine Coiffure - Martres-Tolosane - Juillet 2016</h4>
            </div>

            <div>
                <h2>Stage Assistante comptable et de gestion</h2>
                <h4>Gaches Chimie Escalquens et Labège Motors - Octobre 2015 à décembre 2015</h4>
            </div>

            <div>
                <h2>Animatrice séjour vacances - CDD</h2>
                <h4>Loisirs pour Tous - Août 2015</h4>
            </div>

            <div>
                <h2>Agent d'accueil - CDD</h2>
                <h4>Piscine Municipale de Martres-Tolosane (31) - Août 2015</h4>
            </div>

            <div>
                <h2>Stage Boulangerie-Pâtisserie</h2>
                <h4>Ile de la Réunion(974) - 2011 à 2014</h4>
            </div>
        </div> -->
    </div>
</section>