<section id="experiences" ng-controller="experiencesCtrl" class="flex-container">
    <div class="transparence">
        <div id="contentExp" class="flex-container">
            <div class="flex-container">
                <div id="premierExp" id="" class="center itemE" onclick="start(this.id)">
                    <h2>Stage développeur</h2>
                    <h4>ARCESI</h4>
                </div>
                <div id="deuxiemeExp" class="center itemE" onclick="start(this.id)">
                    <h2>Stage de programmation d'un AAGV</h2>
                    <h4>Continental Toulouse</h4>
                </div>
                <div id="troisiemeExp" class="center itemE" onclick="start(this.id)">
                    <h2>Stage de développement</h2>
                    <h4>Association Sol-Violette Toulouse</h4>
                </div>
                <div id="quatriemeExp" class="center itemE" onclick="start(this.id)">
                    <h2>Stage de développement</h2>
                    <h4>DSI Blagnac</h4>
                </div>
                <div id="cinquiemeExp" class="center itemE" onclick="start(this.id)">
                    <h2>Agent d'accueil - CDD</h2>
                    <h4>Piscine Municipale de Martres-Tolosane</h4>
                </div>
            </div>
            <div class="icon_exp">
                
            </div>
            <div class="flex-container">
                <div id="sixiemeExp" class="center itemE" onclick="start(this.id)">
                    <h2>Stage de coiffure</h2>
                    <h4>Victorine Coiffure - Martres-Tolosane</h4>
                </div>
                <div id="septiemeExp" class="center itemE" onclick="start(this.id)">
                    <h2>Stage Assistante comptable et de gestion</h2>
                    <h4>Gaches Chimie Escalquens et Labège Motors</h4>
                </div>
                <div id="huitiemeExp" class="center itemE" onclick="start(this.id)">
                    <h2>Animatrice séjour vacances</h2>
                    <h4>Loisirs pour Tous</h4>
                </div>
                <div id="neuviemeExp" class="center itemE" onclick="start(this.id)">
                    <h2>Agent d'accueil</h2>
                    <h4>Piscine Municipale de Martres-Tolosane</h4>
                </div>
                <div id="dixiemeExp" class="center itemE" onclick="start(this.id)"> 
                    <h2>Stage Boulangerie-Pâtisserie</h2>
                    <h4>Ile de la Réunion(974)</h4>
                </div>
            </div>
        </div>

        <div id="printerCv" class="flex-container">
            <a href="doc_site/chloe-gardenat-cv.pdf" target="_blank"><img src="component/img/printer.png"/></a>
        </div>
    </div>

    <div id="plusInfo">
        <img src="component/img/cross.png" onclick="closeDiv()"/>
        <div>
           
        </div>
    </div>
    
</section>



