<section id="experiences" ng-controller="experiencesCtrl" class="flex-container">
    <div class="transparence">
        <div id="contentExp" class="flex-container">
            <div class="flex-container">
                <div id="premierExp" id="" class="centerE itemE" onclick="changeContenuDivInfo(this.id)">
                    <div class="portfolio-experiment">
                        <a>
                            <span class="text">2000</span>
                            <span class="text">Stage de développement</span>
                            <span class="line -right"></span>
                            <span class="line -top"></span>
                            <span class="line -left"></span>
                            <span class="line -bottom"></span>
                        </a>
                    </div>
                </div>
                <div id="deuxiemeExp" class="centerE itemE" onclick="changeContenuDivInfo(this.id)">
                    <div class="portfolio-experiment">
                        <a>
                            <span class="text">2000</span>
                            <span class="text">Stage de programmation</span>
                            <span class="line -right"></span>
                            <span class="line -top"></span>
                            <span class="line -left"></span>
                            <span class="line -bottom"></span>
                        </a>
                    </div>
                </div>
                <div id="troisiemeExp" class="centerE itemE" onclick="changeContenuDivInfo(this.id)">
                    <div class="portfolio-experiment">
                        <a>
                            <span class="text">2000</span>
                            <span class="text">Stage de développement</span>
                            <span class="line -right"></span>
                            <span class="line -top"></span>
                            <span class="line -left"></span>
                            <span class="line -bottom"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="icon_exp"></div>

            <div class="flex-container">
                <div id="quatriemeExp" class="centerE itemE" onclick="changeContenuDivInfo(this.id)">
                    <div class="portfolio-experiment">
                        <a>
                            <span class="text">2000</span>
                            <span class="text">Stage de développement</span>
                            <span class="line -right"></span>
                            <span class="line -top"></span>
                            <span class="line -left"></span>
                            <span class="line -bottom"></span>
                        </a>
                    </div>
                </div>
                <div id="cinquiemeExp" class="centerE itemE" onclick="changeContenuDivInfo(this.id)">
                    <div class="portfolio-experiment">
                        <a>
                            <span class="text">2000</span>
                            <span class="text">Agent d'accueil - CDD</span>
                            <span class="line -right"></span>
                            <span class="line -top"></span>
                            <span class="line -left"></span>
                            <span class="line -bottom"></span>
                        </a>
                    </div>
                </div>
                <div id="sixiemeExp" class="centerE itemE" onclick="changeContenuDivInfo(this.id)">
                    <div class="portfolio-experiment">
                        <a>
                            <span class="text">2000</span>
                            <span class="text">Stage Assistante comptable et de gestion</span>
                            <span class="line -right"></span>
                            <span class="line -top"></span>
                            <span class="line -left"></span>
                            <span class="line -bottom"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="printerCv" class="flex-container">
            <a href="doc_site/chloe-gardenat-cv.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
        </div>

        <div id="plusInfo" class="flex-container">
            <img src="component/img/cross.png" onclick="closeDiv()" />
            <div>
    
            </div>
        </div>
    </div>
</section>