<section id="formations" ng-controller="formationsCtrl" class="flex-container">
    <div class="transparence">

        <section id="timeline">
  
            <div class="tl-item">
              
              <div class="tl-bg" style="background-image: url(component/img/logo_BGESO.jpg)"></div>
              
              <div class="tl-year">
                <p class="f2 heading--sanSerif">2018-2019</p>
              </div>
          
              <div class="tl-content">
                <h1>Lorem ipsum dolor sit</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
          
            </div>
          
            <div class="tl-item">
              
              <div class="tl-bg" style="background-image: url(component/img/er2c.jpg)"></div>
              
              <div class="tl-year">
                <p class="f2 heading--sanSerif">2018</p>
              </div>
          
              <div class="tl-content">
                <h1 class="f3 text--accent ttu">Vestibulum laoreet lorem</h1>
                <p>Suspendisse potenti. Sed sollicitudin eros lorem, eget accumsan risus dictum id. Maecenas dignissim ipsum vel mi rutrum egestas.</p>
              </div>
          
            </div>
          
            <div class="tl-item">
              
              <div class="tl-bg" style="background-image: url(component/img/sple.jpg)"></div>
              
              <div class="tl-year">
                <p class="f2 heading--sanSerif">2017</p>
              </div>
          
              <div class="tl-content">
                <h1 class="f3 text--accent ttu">Phasellus mauris elit</h1>
                <p>Mauris cursus magna at libero lobortis tempor. Suspendisse potenti. Aliquam interdum vulputate neque sit amet varius.</p>
              </div>
          
            </div>
          
            <div class="tl-item">
              
              <div class="tl-bg" style="background-image: url(component/img/garantie_jeune.png)"></div>
              
              <div class="tl-year">
                <p class="f2 heading--sanSerif">2016-2017</p>
              </div>
          
              <div class="tl-content">
                <h1 class="f3 text--accent ttu">Mauris vitae nunc elem</h1>
                <p>Suspendisse ac mi at dolor sodales faucibus. Nunc sagittis ornare purus non euismod. Donec vestibulum efficitur tortor, eget efficitur enim facilisis consequat.</p>
              </div>
          
            </div>
          </section>

          <section id="timeline2">
  
            <div class="tl-item">
              
              <div class="tl-bg" style="background-image: url(component/img/mjc.jpg)"></div>
              
              <div class="tl-year">
                <p class="f2 heading--sanSerif">2016</p>
              </div>
          
              <div class="tl-content">
                <h1>Lorem ipsum dolor sit</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
          
            </div>
          
            <div class="tl-item">
              
              <div class="tl-bg" style="background-image: url(component/img/afidel.png)"></div>
              
              <div class="tl-year">
                <p class="f2 heading--sanSerif">2015-2016</p>
              </div>
          
              <div class="tl-content">
                <h1 class="f3 text--accent ttu">Vestibulum laoreet lorem</h1>
                <p>Suspendisse potenti. Sed sollicitudin eros lorem, eget accumsan risus dictum id. Maecenas dignissim ipsum vel mi rutrum egestas.</p>
              </div>
          
            </div>
          
            <div class="tl-item">
              
              <div class="tl-bg" style="background-image: url(component/img/academie_toulouse.jpg)"></div>
              
              <div class="tl-year">
                <p class="f2 heading--sanSerif">2011-2014</p>
              </div>
          
              <div class="tl-content">
                <h1 class="f3 text--accent ttu">Phasellus mauris elit</h1>
                <p>Mauris cursus magna at libero lobortis tempor. Suspendisse potenti. Aliquam interdum vulputate neque sit amet varius.</p>
              </div>
          
            </div>
          </section>
          

        <div id="printerCv" class="flex-container">
            <a href="doc_site/chloe-gardenat-cv.pdf" target="_blank"><img src="component/img/printer.png" /></a>
        </div>
    </div>
</section>