<section ng-controller="formationsCtrl">
    <div class="transparence">
        <!-- <div>
            <div>
                <h2>Formation de Développeur Web Mobile à IOT Valley</h2>
                <p>BGE Formations - Juin 2018 à Mai 2019</p>
            </div>

            <div>
                <h2>Parcours numérique</h2>
                <p>Ecole Régionale de la Seconde Chance - Janvier 2018 à juin 2018</p>
            </div>

            <div>
                <h2>Remise à niveau en anglais</h2>
                <p>SPLE Toulouse - Septembre 2017</p>
            </div>

            <div>
                <h2>Garantie Jeune</h2>
                <p>Mission Locale de Saint-Gaudens - Septembre 2016 à juin 2017</p>
            </div>

            <div>
                <h2>Chèque Bureautique (Word, excel, PPT)</h2>
                <p>MJC - Saint-Gaudens - 2016</p>
            </div>

            <div>
                <h2>Parcours Orientation et Insertion (POI)</h2>
                <p>Adel Saint-Gaudens - 2015</p>
            </div>

            <div>
                <h2>Baccalauréat Professionnel Boulangerie-Pâtisserie</h2>
                <p>Lycée Professionnel Renée Bonnet Toulouse - Septembre 2011 à juillet 2014</p>
            </div>
        </div> -->
    </div>
</section>