<section id="formations" ng-controller="formationsCtrl" class="flex-container">
  <div class="transparence">

    <div id="containerFormation">

      <section id="timeline">

        <div class="tl-item item-border-right">

          <div class="tl-bg" style="background-image: url(component/img/bge.png);"></div>

          <div class="tl-year">
            <p>2018-2019</p>
          </div>

          <div class="tl-content">
            <h1>BGE - Formations</h1>
            <p>Titre professionnel Développeuse Web et Mobile</p>
          </div>
          
        </div>


        <div class="tl-item item-border-right">

          <div class="tl-bg" style="background-image: url(component/img/er2c.png);"></div>

          <div class="tl-year">
            <p>2018</p>
          </div>

          <div class="tl-content">
            <h1>Ecole Régionale de la Seconde Chance</h1>
            <p>Parcours numérique</p>
          </div>

        </div>

        <div class="tl-item item-border-right">

          <div class="tl-bg" style="background-image: url(component/img/sple.png);"></div>

          <div class="tl-year">
            <p>2017</p>
          </div>

          <div class="tl-content">
            <h1>SPLE Toulouse</h1>
            <p>Remise à niveau en anglais</p>
          </div>

        </div>

        <div class="tl-item">
  
          <div class="tl-bg" style="background-image: url(component/img/greta.png);"></div>
  
          <div class="tl-year">
            <p>2016-2017</p>
          </div>
  
          <div class="tl-content">
            <h1>Greta Midi Pyrénées</h1>
            <p>Cap sur les Métiers du Numérique</p>
          </div>
          <div class="border css-border-arrow left"></div>
        </div>
        
      </section>
      
      <section id="timeline2">
        
        <div class="tl-item item-border-right">
  
          <div class="tl-bg" style="background-image: url(component/img/garantie_jeune.png);"></div>
  
          <div class="tl-year">
            <p>2016</p>
          </div>
  
          <div class="tl-content">
            <h1>Mission locale de Saint Gaudens</h1>
            <p>Garantie Jeunes</p>
          </div>
  
        </div>
  
        <div class="tl-item item-border-right">
          <div class="tl-bg" style="background-image: url(component/img/mjc.png);"></div>
  
          <div class="tl-year">
            <p>2016</p>
          </div>
  
          <div class="tl-content">
            <h1>Maison des Jeunes et de la Culture</h1>
            <p>Chèque bureautique (World, Excel, Powerpoint)</p>
          </div>
          
        </div>
  
        <div class="tl-item item-border-right">
  
          <div class="tl-bg" style="background-image: url(component/img/afidel.png);"></div>
  
          <div class="tl-year">
            <p>2015-2016</p>
          </div>
  
          <div class="tl-content">
            <h1>Afidel Saint-Gaudens</h1>
            <p>Parcours Orientation Insertion (POI)</p>
          </div>
          <div class="border css-border-arrow left"></div>
        </div>
  
        <div class="tl-item">
  
          <div class="tl-bg" style="background-image: url(component/img/academie.png);"></div>
  
          <div class="tl-year">
            <p>2011-2014</p>
          </div>
  
          <div class="tl-content">
            <h1>Lycée Professionnel Renée Bonnet - Toulouse</h1>
            <p>Baccalauréat Professionnel Boulangerie-Pâtisserie</p>
          </div>
          <div class="border css-border-arrow left"></div>
        </div>

      </section>

    </div>

    <div id="printerCv" class="flex-container">
      <a href="doc_site/chloe-gardenat-cv.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
    </div>
  </div>
</section>