<section id="loisirs" ng-controller="loisirsCtrl" class="flex-container">
    <div class="transparence">
        <!-- <div>
            <div>
                <h3>Informatique</h3>
                <img src="component/img/clavier.jpeg" alt="">
            </div>
            <div>
                <h3>Dessin</h3>
                <a href="https://mangaspartage.jimdo.com/" target="_blank"><img src="component/img/dessin.jpeg"
                        alt=""></a>
            </div>
            <div>
                <h3>Jeux vidéos</h3>
                <img src="component/img/jeux-video.jpg" alt="">
            </div>
        </div> -->
    </div>
</section>