<section id="profil" ng-controller="profilCtrl" class="flex-container">
    <div class="transparence">

        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 mx-auto col-lg-10 col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-cutlery"></i>
                                </div>
                                <div class="inner-content">
                                    <h3 class="title">Boulangerie Pâtisserie</h3>
                                    <p class="description">{{ bp }}</p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-medkit"></i>
                                </div>
                                <div class="inner-content">
                                    <h3 class="title">Santé</h3>
                                    <p class="description">{{ sante }}</p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <div class="inner-content">
                                    <h3 class="title">Reconversion</h3>
                                    <p class="description">{{ reconversion }}</p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-laptop"></i>
                                </div>
                                <div class="inner-content">
                                    <h3 class="title">Développement Web</h3>
                                    <p class="description">{{ dev }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="printerCv" class="flex-container">
            <a href="doc_site/CV-chloe-gardenat.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
        </div>
    </div>


</section>