#accueil {
    justify-content: center;
}

#titreAccueil {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 3rem;;
}

h3 {
    font-size: 1.8rem;
}

h2, h3 {
    text-align: center;
}

/** Contenu **/
#containerAccueil {
    justify-content: space-around;
}

#contentGeneral {
    width: 460px;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid black;
}

.itemA {
    width: 300px;
}

.itemA a h3:hover {
    text-decoration: underline;
    color: rgb(0, 152, 198);
}

#photo_profil {
    justify-content: center;
}

#coord-1 {
    justify-content: space-evenly;
}

#miseEnBouche {
    height: 500px;
}

#miseEnBouche div {
    height: 250px;
}

#miseEnBouche div p {
    padding-top: 10px;
    text-align: justify;
}

#miseEnBouche div div {
    padding-right: 40px;
}

.border {
    border-right: solid 1px;
}

#miseEnBouche h3 {
    margin-top: 20px;
    text-align: center;
}

i {
    font-size: 48px !important;
}

i:hover {
    color: rgb(0, 152, 198);
}

/** Animation text taper **/

/* .text_taper {
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    animation: type 4s steps(60, end); 
  }
  
  .text_taper:nth-child(2){
    animation: type2 8s steps(60, end);
  }
  
  @keyframes type{ 
    from { width: 0; } 
  } 
  
  @keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
  }  */


/** Test **/

/* .follow {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    margin: 0 .5em;
    position: relative;
    text-align: center;
  }

.follow:hover .label {
    opacity: 0;
    transition: opacity .5s .125s ease-out;
}

.follow:hover .icon {
    border-radius: 1em;
    margin: 0 0;
}

.icon, .label {
    background-color: rgb(0, 152, 198);
    line-height: 2rem;
  }
  .label {
    border-radius: 1rem;
    position: absolute;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: .0816em;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    pointer-events: none;
    text-transform: uppercase;
    transition: opacity .5s .75s ease-out;
  }
  
  .icon {
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    height: 2em;
    margin: 0 -.5em;
    transition:
      background-color .5s ease-out,
      border-radius .5s .25s ease-out,
      margin .5s .25s ease-out;
    width: 6em;
  }

  .icon:first-child {
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    margin-left: 0;
  }
  
  .icon:last-child {
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    margin-right: 0;
  }
  
  .icon:hover {
    background-color: hsl(180 + -135, 80%, 60%);
    color: #111;
  } */


