#loisirs {
    justify-content: center;
}

#loisirs div div:first-child {
    justify-content: center;
}

#contentLoisirs {
    align-items: center;
    margin-bottom: 20px;
}

.itemL {
    display: flex;
    flex-direction: column;
    width: 285px;
    background-color: rgba(0, 0, 0, 0.24);
    margin-right: 10px;
    border-radius: 10px;
}

.itemL div {
    width: 250px;
    height: 300px;
    margin: 10px auto;
    background-color: rgba(3, 3, 3, 0.699);
    border-radius: 5px;
}

.itemL:last-child {
    margin-right: 0;
}

.itemL h3 {
    margin-top: 10px;
}

/** Ribbon **/

/** Animation sprite **/

.zoro {
    display: block;
    width: 200px;
    height: 200px;
    background: url(../../img/zoro_test.png) no-repeat;
}

.zoro:hover {
    animation: zoro 0.8s steps(3) infinite;
}

@keyframes zoro {
    from { background-position-x: 0;}
    to { background-position-x: -500px;}
}

/** Slides **/

/* #slider_manga {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 400px;
}

#slides_manga {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    max-height: 100%;
} */