#profil {
    justify-content: center;
}

.main-timeline {
    font-family: sans-serif;
  }
  .main-timeline .timeline-content {
    background: linear-gradient(to right, rgb(0, 152, 198), rgb(152, 231, 255));
    padding: 20px 20px 20px 150px;
    min-height: 150px;
    display: block;
    position: relative;
    z-index: 1;
  }
  .main-timeline .timeline-content:hover {
    text-decoration: none;
  }
  .main-timeline .timeline-content:before {
    content: "";
    background: rgba(255, 255, 255, 0.788);
    position: absolute;
    top: 7px;
    right: 7px;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  .main-timeline .timeline-icon {
    color: #fff;
    background: linear-gradient(to bottom, rgb(0, 152, 198), rgb(152, 231, 255));
    font-size: 60px;
    text-align: center;
    line-height: 130px;
    height: 130px;
    width: 110px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
    clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
  }
  .main-timeline .title {
    color: rgb(0, 152, 198);
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 0 5px;
    text-align: inherit;
  }
  .main-timeline .description {
    color: #666;
    font-size: 15px;
    margin: 0;
  }
  .main-timeline .timeline:nth-child(even) .timeline-content {
    text-align: right;
    padding: 20px 150px 20px 20px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-content:before {
    left: 7px;
    right: 0;
  }
  .main-timeline .timeline:nth-child(even) .timeline-icon {
    left: auto;
    right: 0;
  }
  .main-timeline .timeline:nth-child(4n + 2) .timeline-icon {
    background: linear-gradient(to bottom, rgb(157, 231, 253), rgb(149, 180, 189));
  }
  .main-timeline .timeline:nth-child(4n + 2) .timeline-content {
    background: linear-gradient(to right, rgb(114, 114, 114), rgb(152, 231, 255));
  }
  .main-timeline .timeline:nth-child(4n + 2) .title {
    color: rgb(121, 169, 184);
  }
  .main-timeline .timeline:nth-child(4n + 3) .timeline-icon {
    background: linear-gradient(to bottom, #474747, #818181);
  }
  .main-timeline .timeline:nth-child(4n + 3) .timeline-content {
    background: linear-gradient(to right, #474747, #ec814f);
  }
  .main-timeline .timeline:nth-child(4n + 3) .title {
    color: #474747;
  }
  .main-timeline .timeline:nth-child(4n + 4) .timeline-icon {
    background: linear-gradient(to bottom, #ec814f, #fa964a);
  }
  .main-timeline .timeline:nth-child(4n + 4) .timeline-content {
    background: linear-gradient(to right, #f79f5c, #ec814f);
  }
  .main-timeline .timeline:nth-child(4n + 4) .title {
    color: #ec814f;
  }
  
  @media screen and (max-width: 576px) {
    .main-timeline .timeline-content {
      padding: 90px 20px 20px 0;
    }
    .main-timeline .timeline:nth-child(even) .timeline-content {
      padding: 90px 0 20px 20px;
    }
    .main-timeline .timeline-icon {
      font-size: 40px;
      line-height: 80px;
      height: 80px;
      width: 80px;
    }
    .main-timeline .title {
      font-size: 18px;
    }
  }